<div class="footer animated slideInUp">
    <div class="footer-c">
        © Adrian Kuo 2019
    </div>
    <div class="footer-links">
        <a class="footer-link" href="mailto:kuoadrian@gmail.com" target="_blank">
            <img class="footer-link-icon" src="assets/gm.png">
        </a>
        <a class="footer-link" href="https://www.linkedin.com/in/kuo-adrian/" target="_blank">
            <img class="footer-link-icon" src="assets/li.png">
        </a>
        <a class="footer-link" href="https://github.com/nodurian" target="_blank">
            <img class="footer-link-icon" src="assets/gh.png">
        </a>
    </div>
</div>