@import '../../scss/mixins';

.footer {
    bottom: 6px;
    right: 10px;
    display: flex;
    align-items: center;
    position: absolute;
}

.footer-links {
    float: right;
    height: 32px;
    margin-left: 10px;
}

.footer-link {
    margin: 0 2px;
}

.footer-link-icon {
    width: 32px;
    height: auto;
}

.footer-c {
  color: #787272;
  font-family: 'Camphor', Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;

  @include mobile {
    visibility: hidden;
  }
}