@import '../../scss/mixins';

.about-detail {
  white-space: pre-line;
  text-align: left;
  position: absolute;
  max-width: 600px;
  padding-top: 18px;
}

.about-subsection-title {
  // color: #787272;
  // font-family: 'Camphor', Helvetica, sans-serif;
  // letter-spacing: 1.5px;
  // text-transform: uppercase;
  // font-size: 1rem;
  // font-weight: 300;
  color: #85B9D0;
  font-family: 'Work Sans', Georgia;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 6px;

  @include mobile {
    font-size: 1.4rem;
  }
}

.about-subsection {
  margin-bottom: 40px;
}

.about-par {
  margin-top: 0;
}

.about-link {
  font-size: 1.6rem;
  
  @include mobile {
    font-size: 1.3rem;
  }
}