<div class="container-md">
    <div class="intro section-title animated fadeInDown">
        about
    </div>
    <section class="about-section animated fadeInRight">
        <div class="about-subsection">
            <div class="about-subsection-title">Me</div>
            <div class="about-subsection-detail">
                <p>
                    I'm currently a software developer at <strong>Hawaiian Airlines</strong>. 
                    I graduated from Arizona State University in 2019 with
                    a B.S. in <strong>Computer Science</strong>.
                </p>
                <p>
                    I aspire to continue <strong>discovering</strong> -  
                    I'm always searching for opportunities to learn from others
                    and to acquire new skills.
                </p>
                <p>
                    My passion is <strong>developing</strong> scalable, usable 
                    software and <strong>designing</strong> visually pleasing, 
                    intuitive interfaces.
                </p>
                <p>
                    Aside from my work, I'm passionate about <strong>cars</strong>, <strong>coffee</strong>, <strong>traveling</strong>, 
                    <strong>music</strong>, <strong>audio equipment</strong>, and <strong>custom keyboards</strong>. 
                    If I'm not busy brewing coffee or building a keyboard in my free time, 
                    I'm probably playing <strong>games online</strong> with friends. 
                </p>
                <p class="secret">
                    I'll buy you a drink if you can beat my 
                    <a class="about-link" href="/assets/typing.png" target="_blank"><strong>typing speed!</strong></a>
                </p>
            </div>
        </div>
        <div class="about-subsection">
            <div class="about-subsection-title">This</div>
            <div class="about-subsection-detail">
                <p>
                    This website was built using 
                    <strong>Angular</strong> with <strong>Angular Material</strong>
                    and <strong>Animate.css</strong>.
                </p>
                <p class="secret">
                    Check out the source code 
                    <a class="about-link" href="https://github.com/nodurian/AdrianKuoPortfolio" target="_blank"><strong>here.</strong></a>
                </p>
            </div>
        </div>
    </section>
</div>