@import '../../scss/mixins';

.about-section {
  white-space: pre-line;
  text-align: left;
  position: absolute;
  max-width: 600px;
  padding-top: 18px;

  @include ultra {
    max-width: 1000px;
  }
}

.about-subsection {
  padding-bottom: 40px;
}

.about-subsection-title {
  // color: #787272;
  // font-family: 'Camphor', Helvetica, sans-serif;
  // letter-spacing: 1.5px;
  // text-transform: uppercase;
  // font-size: 1rem;
  // font-weight: 300;
  color: #7CA8BA;
  font-family: 'Work Sans', Georgia;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 6px;

  @include mobile {
    font-size: 1.6rem;
  }
}

.about-subsection-detail {
  font-size: 1.7rem;

  @include mobile {
    font-size: .85rem;
  }
}

div p {
  margin-top: 0;
}

a {
  color: #6D96A6;

  &:hover {
    color: #7CA8BA;
    opacity: .8;
  }
}

.secret {
  font-size: 1.2rem;
  
  @include mobile {
    font-size: .65rem;
  }
}

.secret a {
  font-size: 1.2rem;

  @include mobile {
    font-size: .65rem;
  }
}