<!-- <div class="toolbar animated fadeInDown">
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="fill-space"></span>
            <a href="/#work">
                Work
            </a>
            <span></span>
            <a href="/#contact">
                Contact
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div> -->

<div class="animated slideInDown">
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="fill-space"></span>
            <a routerLink="/">
                HOME
            </a>
            <span></span>
            <a routerLink="/about">
                ABOUT
            </a>
            <span></span>
            <a routerLink="/work">
                WORK
            </a>
            <!-- <span></span>
            <a routerLink="/contact">
                CONTACT
            </a> -->
        </mat-toolbar-row>
    </mat-toolbar>
</div>