<div id="contact" class="container-md">
    <div class="intro section-title">
        Contact
    </div>
    <ul class="contact-list">
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="mailto:kuoadrian@gmail.com" target="_blank">
                <img class="contact-list-item-icon" src="assets/gm.png">
            </a>
        </li>
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="https://www.linkedin.com/in/kuo-adrian/" target="_blank">
                <img class="contact-list-item-icon" src="assets/li.png">
            </a>
        </li>
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="https://github.com/nodurian" target="_blank">
                <img class="contact-list-item-icon" src="assets/gh.png">
            </a>
        </li>
    </ul>
</div>