<div id="contact" class="container-md section-title">
    <div class="intro">
        Contact
    </div>
    <ul class="contact-list">
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="mailto:kuoadrian@gmail.com" target="_blank">
                kuoadrian@gmail.com
            </a>
        </li>
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="https://www.linkedin.com/in/kuo-adrian/" target="_blank">
                LinkedIn
            </a>
        </li>
        <li class="contact-list-item">
            <a class="contact-list-item-link" href="https://github.com/nodurian" target="_blank">
                GitHub
            </a>
        </li>
    </ul>
</div>