<div class="container-md">
    <div class="intro section-title animated fadeInDown">
        work
    </div>
    <div>
        <ul class="work-list animated fadeInRight">
            <li class="work-list-item">
                <a class="work-list-item-link" href="https://intraedge.com/" target="_blank">
                    <div class="work-title">
                        Solution Briefs
                    </div>
                    <span class="work-detail work-role">Full-Stack Development (MEAN)</span>
                    <span class="work-detail work-company">IntraEdge</span>
                    <span class="work-detail work-date">2017</span>
                </a>
            </li>
            <li class="work-list-item">
                <a class="work-list-item-link" href="https://github.com/CSE485CapstoneArticleVisualizer" target="_blank">
                    <div class="work-title">
                        Social Media Article Visualizer
                    </div>
                    <span class="work-detail work-role">Front-End Development, Design, UI/UX</span>
                    <span class="work-detail work-company">ASU Capstone</span>
                    <span class="work-detail work-date">2019</span>
                </a>
            </li>
            <li class="work-list-item">
                <a class="work-list-item-link" href="https://github.com/nodurian/AdrianKuoPortfolio" target="_blank">
                    <div class="work-title">
                        Portfolio Website
                    </div>
                    <span class="work-detail work-role">Development, Design, UI/UX</span>
                    <span class="work-detail work-company">Me!</span>
                    <span class="work-detail work-date">2019</span>
                </a>
            </li>
        </ul>
    </div>
</div>