<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div class="container-lg">
    <div>
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="fill-space"></span>
          <!-- <a [routerLink] = "'/about'">
            About
          </a> -->
          <a href="/#about" (click)="scrollToElement(about)">
            About
          </a>
          <span></span>
          <!-- <a [routerLink] = "'/contact'">
            Contact
          </a> -->
          <a href="/#contact" (click)="scrollToElement(contact)">
            Contact
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div class="title">
      <div class="anim-typewriter">
        {{ title }}
      </div>
    </div>
    
    <div id="about" class="container-md">
      About
    </div>

    <div id="contact" class="container-md">
      Contact
    </div>

    <!-- <router-outlet></router-outlet> -->
  </div>
</body>
