<body>
  <div class="container-lg">
    <div class="toolbar">
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="fill-space"></span>
          <!-- <a [routerLink] = "'/about'">
            About
          </a> -->
          <a href="/#work" (click)="scrollToElement(work)">
            Work
          </a>
          <span></span>
          <!-- <a [routerLink] = "'/contact'">
            Contact
          </a> -->
          <a href="/#contact" (click)="scrollToElement(contact)">
            Contact
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div class="title">
      <div class="anim-typewriter">
        Adrian Kuo
      </div>
    </div>

    <div class="container-md intro">
      Hi, I'm Adrian. I love building clean, intuitive user experiences.
    </div>

    <div id="about" class="container-md">
      <mat-grid-list cols="2" rowHeight="140px">
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="tile">
            <div class="tile-header">
              EDUCATION
            </div>
            B.S. Computer Science -<br>
            Arizona State University
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="tile">
            <div class="tile-header">
              LOCATION
            </div>
            Tempe, AZ
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="tile skills">
            <div class="tile-header">
              SKILLS
            </div>
            <!-- C/C++, Java, JavaScript, Angular, NodeJS, Express, MongoDB, SQL, git  -->
            <mat-grid-list cols="4" rowHeight="50px" gutterSize="5px">
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://angular.io/" target="_blank">
                  <img class="logos" src="assets/angular.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://www.mongodb.com/" target="_blank">
                  <img class="logos" src="assets/mongodb.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://nodejs.org/en/" target="_blank">
                  <img class="logos" src="assets/njs.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://expressjs.com/" target="_blank">
                  <img class="logos" src="assets/ex.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://www.javascript.com/" target="_blank">
                  <img class="logos" src="assets/js.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="http://www.cplusplus.com/" target="_blank">
                  <img class="logos" src="assets/cpp.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://www.java.com/en/" target="_blank">
                  <img class="logos" src="assets/java.png">
                </a>
              </mat-grid-tile>
              <mat-grid-tile colspan="1" rowspan="1">
                <a href="https://git-scm.com/" target="_blank">
                  <img class="logos" src="assets/git.png">
                </a>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="tile">
            <div class="tile-header">
              RESUME
            </div>
            <img class="logo" src="assets/pdf.png">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div id="work" class="container-md section-title">
      <div class="intro">
        Work
      </div>
      <div>
        <ul class="work-list">
          <li class="work-list-item">
            <a class="work-list-item-link" href="https://intraedge.com/" target="_blank">
              <div class="work-title">
                Solution Briefs
              </div>
              <span class="work-detail work-role">Full-Stack Development (MEAN)</span>
              <span class="work-detail work-company">IntraEdge</span>
              <span class="work-detail work-date">2017</span>
            </a>
          </li>
          <li class="work-list-item">
            <a class="work-list-item-link" href="https://asu.edu" target="_blank">
              <div class="work-title">
                Social Media Article Visualizer
              </div>
              <span class="work-detail work-role">Front-End Development, Design, UI/UX</span>
              <span class="work-detail work-company">ASU Capstone</span>
              <span class="work-detail work-date">2019</span>
            </a>
          </li>
          <li class="work-list-item">
            <a class="work-list-item-link" href="/" target="_blank">
              <div class="work-title">
                Portfolio Website
              </div>
              <span class="work-detail work-role">Development, Design, UI/UX</span>
              <span class="work-detail work-company">Me!</span>
              <span class="work-detail work-date">2019</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <mat-grid-list cols="2" gutterSize="20px">
          <mat-grid-tile>
            <div>
              <img class="work-item" src="assets/ie.png">
              <div class="work-title">
                Software Engineer Intern
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <img class="work-item" src="assets/asu.png">
              <div class="work-title">
                Capstone Project: Social Media Article Visualizer
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <img class="work-item" src="assets/akuo.png">
              <div class="work-title">
                This website!
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div> -->
    </div>

    <div id="contact" class="container-md section-title">
      <div class="intro">
        Contact
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <a class="contact-list-item-link" href="mailto:kuoadrian@gmail.com" target="_blank">
            kuoadrian@gmail.com
          </a>
        </li>
        <li class="contact-list-item">
          <a class="contact-list-item-link" href="https://www.linkedin.com/in/kuo-adrian/" target="_blank">
            LinkedIn
          </a>
        </li>
        <li class="contact-list-item">
          <a class="contact-list-item-link" href="https://github.com/nodurian" target="_blank">
            GitHub
          </a>
        </li>
      </ul>
    </div>

    <!-- <router-outlet></router-outlet> -->
  </div>
</body>