@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './fonts/camphor';
@import './app/intro/intro.component';

@import url('https://fonts.googleapis.com/css?family=Work+Sans|Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #F9F9F9
}

a {
  text-decoration: none;
  color: #787272;
  font-family: 'Camphor', Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  transition: 0.1s ease-in-out;

  &:hover {
    // color: #7E76A3;
    // color: #768EC9;
    color: #85B9D0;
    // color: #29c6b2;
    opacity: 0.8;
  }

  @include mobile {
    font-size: 0.8em;
  }
}

.container-lg {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;

  @include mobile {
    padding: 0 20px;
  }
}

.container-md {
  max-width: 1000px;
  margin-top: 80px;
  color: #787272;
  font-family: 'Camphor', Helvetica, sans-serif;
  font-size: 2.6em;
  font-weight: 200;

  @include mobile {
    font-size: 1.3em;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.intro {
  font-family: 'Work Sans', Georgia;
}

.section-title {
  padding: 80px 0;

  .intro {
    padding-bottom: 20px;
  }
}

.mat-grid-tile .mat-figure {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  float: left;
}