<div class="home-wrapper">
    <div class="home-hello intro animated fadeInDown">
        Hello, I'm
    </div>

    <div class="title">
        <div class="anim-typewriter">
            Adrian Kuo
        </div>
    </div>

    <div class="home-detail intro animated fadeInRight">
        My passion is creating beautiful, intuitive user experiences.
    </div>

    <div class="info-wrapper animated fadeInRight">
        <mat-grid-list cols="2" [rowHeight]="outerRowHeight">
            <mat-grid-tile class="outer-tile" colspan="1" rowspan="1">
                <div class="tile">
                    <div class="tile-header">
                        EDUCATION
                    </div>
                    B.S. Computer Science -<br>
                    Arizona State University
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="tile">
                    <div class="tile-header">
                        LOCATION
                    </div>
                    Tempe, AZ
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="colspan" rowspan="1">
                <div class="tile skills">
                    <div class="tile-header">
                        SKILLS
                    </div>
                    <!-- C/C++, Java, JavaScript, Angular, NodeJS, Express, MongoDB, SQL, git  -->
                    <mat-grid-list cols="4" [rowHeight]="innerRowHeight" gutterSize="5px">
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://angular.io/" target="_blank">
                                <img class="logos" src="assets/angular.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://www.mongodb.com/" target="_blank">
                                <img class="logos" src="assets/mongodb.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://nodejs.org/en/" target="_blank">
                                <img class="logos" src="assets/njs.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://expressjs.com/" target="_blank">
                                <img class="logos" src="assets/ex.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://www.javascript.com/" target="_blank">
                                <img class="logos" src="assets/js.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="http://www.cplusplus.com/" target="_blank">
                                <img class="logos" src="assets/cpp.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://www.java.com/en/" target="_blank">
                                <img class="logos" src="assets/java.png">
                            </a>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="1">
                            <a href="https://git-scm.com/" target="_blank">
                                <img class="logos" src="assets/git.png">
                            </a>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="tile">
                    <div class="tile-header">
                        RESUME
                    </div>
                    <a href="/assets/adriankuo.pdf" target="_blank"><img class="logo" src="assets/pdf.png"></a>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>