@import '../../scss/mixins';

.home-wrapper {
  max-width: 1000px;
  height: 50%;
  position: relative;
  top: 10%;
}

.home-hello {
    margin-top: 40px;

    @include mobile {
      margin-top: 20px;
    }
}

.home-detail {
    margin: 0;
}

.info-wrapper {
    max-width: 900px;
    margin-top: 80px;

    @include mobile {
      margin-top: 40px;
    }
}

.title {
    &:before {
      content: '>\a0';
    }
  
    // color: #29c6b2;
    color: #589FBF;
    width: 600px;
    padding: 40px 0 40px 0;
    margin: 0;
    align-items: center;
    font-family: 'Inconsolata', Georgia;
    font-size: 80px;
    font-weight: 400;
    display: flex;
  
    @include mobile {
      font-size: 40px;
      padding: 20px 0 20px 0;
    }
  
    /* Animation */
    .anim-typewriter {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      // margin: 0 auto; /* Gives that scrolling effect as the typing happens */  
      // border-right: 36px solid #29c6b2;
      border-right: 32px solid #589FBF;
      display: flex;
      animation:  typewriter 1s steps(10) 1s 1 normal both,
                  blinkTextCursor 500ms steps(10) infinite normal;
  
      @include mobile { 
        // border-right: 24px solid #29c6b2;
        border-right: 16px solid #589FBF;
        animation:  typewriter-mobile 1s steps(10) 1s 1 normal both,
                    blinkTextCursor 500ms steps(10) infinite normal;
      }
    }
  
    @keyframes typewriter {
      from { width: 0; }
      to { width: 400px; }
    }
    
    @keyframes blinkTextCursor {
      // from { border-right-color: #29c6b2; }
      from { border-right-color: #589FBF; }
      to { border-right-color: transparent; }
    }
  
    // FOR MOBILE
    @keyframes typewriter-mobile {
      from { width: 0; }
      to { width: 200px; }
    }
  }

.outer-tile {
    max-width: 375px !important;
}

.tile {
    // color: #7E76A3;
    color: #7CA8BA;
    // color: #29c6b2;
    font-family: 'Work Sans', Georgia;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: left;
    vertical-align: top;
    position: absolute;

    @include mobile {
        font-size: .85rem;
    }
}

.tile-header {
    color: #787272;
    font-family: 'Camphor', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 1.0rem;
    max-height: 40px;
    text-align: left;

    @include mobile {
      font-size: 0.6rem;
    }
}

.skills {
  width: 70%;

  @include mobile {
      width: 40%;
  }
}

img.logos {
  max-width: 50px;
  height: auto;

  @include mobile {
    max-width: 30px;
  }
}

img.logo { 
  max-width: 80px;
  height: auto;

  @include mobile {
    max-width: 40px;
  }
}